.total {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  margin: 0px;
}
.img2 {
  /* padding-left: 20px; */
  text-align: center;
}
.details {
  width: 40%;
  min-height: 100vh;
  /* object-fit: cover; */
  background-color: white;
  /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */

  /* border-radius: 50%; */
  /* margin: auto; */
  /* border-style: solid; */
  /* border-radius: 10px; */
  /* box-shadow: 7px 5px 10px #32cdac; */
  font-size: large;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* z-index: 1; */
}
.image {
  max-width: 100%;
  height: auto;
}

/* .color { */
/* z-index: 0; */
/* height: 100vh; */
/* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
/* width: 50%; */
/* float: left; */
/* margin: auto; */
/* border-style: solid; */
/* border-radius: 10px; */
/* box-shadow: 7px 5px 10px #32cdac; */
/* font-size: large; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* } */

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* fieldset {
  border: none;
  padding: 0;
  position: relative;
} */
input {
  padding: 7px;
  margin: 10px;
  width: 40%;
  font-size: large;
  height: auto;
  border-radius: 5px;
  /* border: none; */
  /* font-size: 26px;
  outline: none;
  border-bottom: 3px solid var(--grey);
  padding: 5px 0;*/
}
input:focus {
  border: none;
  /* border-bottom: 5px solid #ff0045; */
  box-shadow: 4px 5px #ff0045;
  transition: box-shadow 100ms;
}
.submit {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  width: 45%;
  color: rgb(5, 5, 5);
}
.api_login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.create_new {
  background-color: white;
  color: #ff0045;
  text-decoration: none;
  border: 2px;
  border-color: #ff0045;
  /* border-radius: 5px; */
  padding: 10px;
  font-size: large;
}